<!DOCTYPE html>
<html>
<title>Familia</title>
<head>
    <h1>Mi familia</h1>
</head>
<body>      
    </style>
    <section>
        <h2>Mi esposa</h2>
        <p>El nombre ingresado es {{ nombre_wife }}</p>
        <p>Su fecha de nacimiento es {{ birthdate_wife }}</p>
        <p>Su edad es {{ edad_wife }}</p>
        <br>
        <hr>
    </section>
    <section>
        <h2>Mi hija</h2>
        <p>El nombre ingresado es {{ nombre_hija }}</p>
        <p>Su fecha de nacimiento es {{ birthdate_hija }}</p>
        <p>Su edad es {{ edad_hija }}</p>
        <br>
        <hr>
    </section>
    <section>
        <h2>Mi hijo</h2>
        <p>El nombre ingresado es {{ nombre_hijo }}</p>
        <p>Su fecha de nacimiento es {{ birthdate_hijo }}</p>
        <p>Su edad es {{ edad_hijo }}</p>
        <br>
        <hr>
    </section>
</body>
<footer>   
    <p>Hola loml</p>
</footer>
</html>